/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Estilos de título */
h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 3rem;
}

h2, h3 {
    margin: 0; /* Remover margens adicionais */
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 16px;
    max-width: 60ch;
}

/* Links */
a {
    text-decoration: none;
    border-bottom: 2px solid #1d70b8; 
    padding-bottom: 1px;
}

a:focus,
a:active {
    background-color: #fd0;
    color: #0b0c0c;
    outline: 3px solid;
}

main {
    padding-bottom: 80px;
}

/* Layout do main */
.layout {
    max-width: 100%;
    margin: 40px auto;
    padding: 120px 20px 20px;
}

/* Skip link */
.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: #f1c232;
    color: #000;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.skip-link:focus-visible {
    opacity: 1;
    background-color: #fd0;
    color: #0b0c0c;
    box-shadow: 0 -2px 4px #fd0, 0 4px 6px #0b0c0c;
    pointer-events: auto;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* Profile */
.profile-name {
    font-size: 1rem;
    color: #fff;
    margin-left: 10px;
}

/* Bio Section */
.bio-section {
    text-align: left;
}

.bio-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bio-header h2 {
    font-size: 2rem;
}

.bio-header svg {
    width: 32px;
    height: 32px;
}

.focused-heading {
    margin-top: 40px; /* Ajuste o valor conforme necessário */
  }

/* Contact Info */
.contact-info,
.experience-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 40px;
}

.contact-info img {
    width: 124px;
    height: 124px;
    object-fit: cover;
}

.contact-info h1 {
    margin-bottom: 5px;
}

.contact-role {
    margin-top: 0;
}

/* Contact Details */
.contact-details {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-label {
    font-weight: bold;
}

.contact-link {
    color: #1d70b8;
}

.contact-link:hover,
.contact-link:focus {
    color: #0c4a75;
}

/* Job Experience */
.job-experience {
    margin-bottom: 50px;
    word-wrap: break-word;
}

.job-experience ul {
    margin-top: 25px;
    margin-bottom: 50px;
    list-style-type: disc;
}

.job-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-title {
    font-size: 1.5rem;
}

.job-duration {
    font-size: 1rem;
    color: #767676;
}

@media (max-width: 768px) {
    .job-experience {
        padding: 0 15px;
    }

    .job-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-title {
        font-size: 1.25rem;
    }

    .job-duration {
        font-size: 1rem;
    }

    .contact-details {
        flex-direction: column;
        gap: 20px;
    }

    .experience-columns {
        flex-direction: column;
    }

    .experience-column {
        flex: 1 1 100%;
    }

    .contact-info,
    .experience-section {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .contact-info,
    .experience-section {
        padding: 0 16px;
    }

    .back-to-top-container {
        bottom: 40px;
    }

    .back-to-top-link {
        font-size: 16px;
    }

    .contact-details > ul {
        margin-left: 0 !important;
    }
}

/* Back to top */
.back-to-top-container {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

.back-to-top-container.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top-link {
    color: #1d70b8;
    font-size: 18px;
    font-weight: normal;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.back-to-top-link:hover,
.back-to-top-link:focus {
    color: #0c4a75;
    transform: translateY(-3px);
}

.back-to-top-link svg {
    margin-right: 8px;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

#topo {
    display: block;
    height: 1px;
}

/* Icons */
.icon {
    margin-right: 12px;
}

.icon svg {
    width: 32px;
    height: 32px;
    fill: #fd0;
    stroke: #fd0;
}

/* Skills */
.experience-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.experience-column {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
}

.tools-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.tools-list li {
    margin-right: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
}

  
  
  



